.button{
	position:absolute;
	left:2450px;
	top:450px;
    width: 200px;
    height: 400px; 
	line-height:400px;
	
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
	
    background-color: white;
    color: black;
	border-radius: 25px;
    border: 5px solid #42bcf4;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #1a70b8;
    color: white;
}

#titlebox{
    position:absolute;
    left:0px;
	top:0px;
	padding: 20px; 
    width: 1300px;
    height: 250px; 	
	
	border-radius: 25px;
    border: 5px solid #42bcf4;
	
	font-family: Arial;
	color: black;
	font-size:68px
}

#titlebox_sub{
	position:absolute;
    left:0px;
	top:200px;
	padding: 20px; 
    width: 1300px;
    height: 200px; 		

	font-family: Arial;
	color: black;
	font-size:52px	
}

#bannerimage{
	position:absolute;
    left:1350px;
	top:0px;
	padding: 20px; 
    width: 1300px;
    height: 250px; 
	
	
	border:5px solid #42bcf4;
	border-radius: 25px;
    background: url("./img/menu5_banner.png");
	background-size:cover
}

#bannervtt{
	position:absolute;
    left:1140px;
	top:160px;
	padding: 20px; 
    width: 160px;
    height: 100px; 
}

#textbox1{
	text-align:center-left;
	padding:20px;
	padding-top:0px;
	padding-left: 42px;
	text-indent: -22px;
	
	position:absolute;
	left:100px;
	top:350px;
    width: 980px;
    height: 500px; 
	
	border:5px solid #42bcf4;
	border-radius: 25px;
	
	font-family: Arial;
	color: black;
	font-size:40px
}	

#textbox2{
	text-align:center-left;
	padding:20px;
	padding-left: 42px;
	text-indent: -22px;
	
	position:absolute;
    left:1200px;
	top:350px;
    width: 1100px;
    height:1050px; 
	
	
	border:5px solid #42bcf4;
	border-radius: 25px;
	
	font-family: Arial;
	color: black;
	font-size:40px
}	

#textbox4{
	text-align:left;
	
	position:absolute;
    left:1420px;
	top:1370px;
    width: 1100px;
    height:650px; 
	
	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox5{
	text-align:left;
	
	position:absolute;
    left:1920px;
	top:1370px;
    width: 1100px;
    height:650px; 
	
	font-family: Arial;
	color: black;
	font-size:32px
}	


#leftimage1 {
	position:absolute;
	left:100px;
	top:895px;
	padding: 20px; 
    width: 1000px;
    height: 500px; 
	
	border:5px solid #42bcf4;
	border-radius: 25px;
    background: url("./img/stock_Eija5.png");
	background-size:cover
}

#qrimageE {
	position:absolute;
	left:1850px;
	top:1050px;
    width: 278px;
    height: 278px;
	
    background: url("./img/stock_EijaQRE.png");
	background-size:contain
}

#qrimageF {
	position:absolute;
	left:1350px;
	top:1050px;
    width: 278px;
    height: 278px;
	
    background: url("./img/stock_EijaQRF.png");
	background-size:cover
}

#mainimage {
	position:absolute;
	left:2450px;
	top:900px;
    width: 200px;
    height: 400px; 
	
	border:5px solid #42bcf4;
	border-radius: 25px;
    background: url("./img/poster_ico_200x400.png");
	background-size:cover
}

/* To start */
#box2{
	position:absolute;
	left:2450px;
	top:900px;
    width: 200px;
    height: 400px; 
	color:red;	

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
	
	font-family: Arial;
	color: black;
	font-size:40px;
	
	border:2.5px solid #42bcf4;
	border-radius: 25px;
	
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#myBtn{
	 
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	
	position:absolute;
	left:100px;
	top:895px;
	padding: 20px; 
    width: 1000px;
    height: 500px; 
	

}