
/* Energy transition solutions */
#box1{
  position:absolute;
  left:160px;
  top:180px;
  width:250px;
  height:25px;
  color:red;	
}

/* Low carbon combustion technologies */
#box2{
  position:absolute;
  left:500px;
  top:275px;
  width:335px;
  height:25px;
  color:red;	
}

/* Carbon capture and utilisation */
#box3{
  position:absolute;
  left:900px;
  top:275px;
  width:250px;
  height:25px;
  color:red;	
}

/* Solar energy and RES hybrids */
#box4{
  position:absolute;
  left:690px;
  top:510px;
  width:260px;
  height:25px;
  color:red;	
}

/* Feedstock supply chain management */
#box5{
  position:absolute;
  left:25px;
  top:845px;
  width:340px;
  height:25px;
  color:red;	
}

/* Energy systems and concepts*/
#box6{
  position:absolute;
  left:590px;
  top:850px;
  width:270px;
  height:25px;
  color:red;	
}

/* Ash recycling*/
#box7{
  position:absolute;
  left:70px;
  top:350px;
  width:70px;
  height:35px;
  color:red;	
}

/* Biomass CHP */
#boxinfra{
  position:absolute;
  left:180px;
  top:425px;
  width:60px;
  height:35px;
  color:red;	
}

/* Renewable energy processes*/
#boxteam{
  position:absolute;
  left:165px;	
  top:40px;
  width:450px;
  height:40px;
  color:red;
}

/* Back to start page*/
#boxstart{
  position:absolute;
  left:365px;
  top:630px;
  width:250px;
  height:80px;
  color:red;
}

#bgimage {
	
  position:absolute;
  left:0px;
  top:0px;
  width: 1280px;
  height: 906px; 
  background: url("./poster_1280.jpg");
  background-size:contain
}
