#titlebox{
    position:absolute;
    left:0px;
	top:0px;
	padding: 20px; 
    width: 1300px;
    height: 250px; 	
	
	border-radius: 25px;
    border: 5px solid #42bcf4;
	
	font-family: Arial;
	color: black;
	font-size:68px
}

#titlebox_sub{
	position:absolute;
    left:0px;
	top:200px;
	padding: 20px; 
    width: 1300px;
    height: 200px; 		

	font-family: Arial;
	color: black;
	font-size:52px	
}

#bannerimage{
	position:absolute;
    left:1350px;
	top:0px;
	padding: 20px; 
    width: 1300px;
    height: 250px; 
	
	
	border:5px solid #42bcf4;
	border-radius: 25px;
    background: url("./img/stock_Kirsi.png");
	background-size:cover
}

#bannervtt{
	position:absolute;
    left:1140px;
	top:160px;
	padding: 20px; 
    width: 160px;
    height: 100px; 
}

#textbox1{
	text-align:center;
	padding:10px;

	position:absolute;
	left:120px;
	top:450px;
    width: 250px; 
	height: 500px;

	font-family: Arial;
	color: black;
	font-size:32px
}	


#textbox2{
	text-align:center;
	padding:10px;

	position:absolute;
	left:570px;
	top:450px;
    width: 250px; 
	height: 500px;

	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox3{
	text-align:center;
	padding:10px;

	position:absolute;
	left:1020px;
	top:450px;
    width: 250px; 
	height: 500px;
	
	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox4{
	text-align:center;
	padding:10px;

	position:absolute;
	left:1470px;
	top:450px;
    width: 250px; 
	height: 500px;

	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox5{
	text-align:center;
	padding:10px;

	position:absolute;
	left:1920px;
	top:450px;
    width: 250px; 
	height: 500px;
	
	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox7{
	text-align:left;
	padding:10px;
	
	position:absolute;
	left:80px;
	top:700px;
    width: 330px; 
	height: 500px;
	
	border:2.5px solid #42bcf4;
	border-radius: 25px;
	
	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox8{
	text-align:left;
	padding:10px;
	
	position:absolute;
	left:530px;
	top:700px;
    width: 330px; 
	height: 500px;
	
	
	border:2.5px solid #42bcf4;
	border-radius: 25px;
	
	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox9{
	text-align:left;
	padding:10px;
	
	position:absolute;
	left:980px;
	top:700px;
    width: 330px; 
	height: 500px;
	
	
	border:2.5px solid #42bcf4;
	border-radius: 25px;
	
	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox10{
	text-align:left;
	padding:10px;
	
	position:absolute;
	left:1430px;
	top:700px;
    width: 330px; 
	height: 500px;
	
	
	border:2.5px solid #42bcf4;
	border-radius: 25px;
	
	font-family: Arial;
	color: black;
	font-size:32px
}	

#textbox11{
	text-align:left;
	padding:10px;
	
	position:absolute;
	left:1880px;
	top:700px;
    width: 330px; 
	height: 500px;
	
	border:2.5px solid #42bcf4;
	border-radius: 25px;
	
	font-family: Arial;
	color: black;
	font-size:32px
}	


#leftimage1 {
	position:absolute;
    left:100px;
	top:350px;
    width: 900px;
    height: 570px; 
	
	border:5px solid #42bcf4;
    background: url("./img/stock_Pasi.gif");
	border-radius: 25px;
	background-size:contain
}


#mainimage {
	position:absolute;
	left:2450px;
	top:650px;
    width: 200px;
    height: 400px; 
	
	border:5px solid #42bcf4;
	border-radius: 25px;
	background: url("./img/poster_ico.png");
	background-size:cover
}

/* To start */
#box1{
	position:absolute;
	left:2450px;
	top:650px;
    width: 200px;
    height: 400px; 
	color:red;	

}

#circle1 {
	
	text-align:center;

	border: 5px solid #42bcf4;
	border-radius: 50%;

	width: 300px;
	height: 300px;
	position:absolute;
	left:100px;
	top:350px;
}

#circle2 {
	
	text-align:center;

	border: 5px solid #42bcf4;
	border-radius: 50%;

	width: 300px;
	height: 300px;
	position:absolute;
	left:550px;
	top:350px;
}

#circle3 {
	
	text-align:center;

	border: 5px solid #42bcf4;
	border-radius: 50%;

	width: 300px;
	height: 300px;
	position:absolute;
	left:1000px;
	top:350px;
}

#circle4 {
	
	text-align:center;

	border: 5px solid #42bcf4;
	border-radius: 50%;

	width: 300px;
	height: 300px;
	position:absolute;
	left:1450px;
	top:350px;
}

#circle5 {
	
	text-align:center;

	border: 5px solid #42bcf4;
	border-radius: 50%;
	
	width: 300px;
	height: 300px;
	position:absolute;
	left:1900px;
	top:350px;
}



